/* share style */

main{
    width: 1140px;
    margin: 0 auto;
}
:root{
    --primary-color:#E95A08;
    --secondary-colo:#252432;
}
.d-flex{
    display: flex;
}
.black-1{
    color: #252432;
}
.black-2{
    color: #8987A1;
}


img{
    width: 100%;
}
.orange-font{
    color: #E95A08;
}
.orange-bg{
    background-color: #E95A08;
}
body{
    background-color:rgb(245,248,255);
}

/* main header style */
.main-header{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
ul{
    gap: 30px;
    margin-right: 30px;
}
ul li{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.logo-img{
    width: 135px;
    height: 82px;
}
/* header mobile optimize */
@media screen (max-width:576px;) {
    .hide{
        display: none;
    }
}

/* banner section style */
.banner-section{
    margin-top: 120px;
    margin-bottom: 120px;
    padding-top: 108px;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    width: 50%;
}
.banner-right{
    width: 50%;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
    display: block;
}
.banner-description{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.507);
}

/* plant section style */

.plant-section{
    text-align: center;
}
.plant-section-title{
    color: var(--primary-color);
    font-size: 3.2rem;
    line-height: 2rem;
}
.plant-section-description{
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}
.plant-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 30px;
    text-align: center;
}
.p-item-img{
    width: 270px;
    height: 322px;
}
.p-item-title{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: .5 rem;

}
.p-item-price{
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: -10px;

}
.btn-primary{
    font-weight: 600;
    color: white;
    display: inline;
    width: 100%;
    background-color: #E95A08;
    border: none;
    padding: 13px 50px 13px 50px ;
}

@media screen and (max-width: 576px) {
    .plant-items{
        grid-template-columns: repeat(2, 1fr);
    }
  }